@use "../../../../styles/utilities";
@use "../../../../styles/variables" as var;

.column {
  flex: 0 0 auto;
  width: 300px;
  max-height: calc(100vh - 110px);
  background-color: var.$background;
  border-radius: 12px;
  padding: 12px;
  margin-right: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s;

  @media (max-width: var.$mobileBreakpoint) {
    flex: 0 0 100%;
    width: calc(100vw - 32px);
    margin-right: 0;
  }
}

.columnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  padding: 0 4px 14px;
  margin-bottom: 8px;
  color: var.$textPrimary;
}

.columnTitleInput {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var.$textSecondary;
  font-size: 16px;
  box-sizing: border-box;
}

.columnTitleControls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.columnTitleSave {
  @extend .buttonPrimary;
  padding: 4px 8px;
  font-size: 14px;
}

.columnTitleCancel {
  @extend .buttonSecondary;
  padding: 4px 8px;
  font-size: 14px;
}

.columnTitleWrapper {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.columnHeaderButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.columnHeaderButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var.$textPrimary;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s, background-color 0.2s;
  font-size: 16px;
  line-height: 1;

  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.cardsList {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 8px;
  min-height: 10px;
  transition: background-color 0.2s;

  &.isDraggingOver {
    background-color: rgba(0, 0, 0, 0.05);
  }
}